@font-face {
  font-family: 'naslovFont';
  src: url('fontovi/ds-fette-kanzlei.regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body, html {
  overflow-x: hidden;
}

figure {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  transition: filter, transform 1s ease-in-out;
}
figure:hover img {
  transform: scale(1.5);
  filter: brightness(0.6);
}

figure img {
  width: 100% !important;       
  height: 100% !important;      
  object-fit: cover;            
  display: block;
}

aside{
  background-color: #EFEFEF;
}

.custom-container{
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
header{
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

header a{
  color: black;
  text-decoration: none;
}

header hr{
  margin-top: 0.5%;
}

.naslov{
    font-family: naslovFont;
}

section{
  padding: 0 0 3% 0;
  padding-bottom: 3%;
}

section hr{
  width: 70%;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  background-color: black;
  height: 8px;
}

section h3{
  font-size: 20px;
  padding-top: 2%;
  margin-top: 0;
  text-align: left;
  padding-left: 15%;
}

article figcaption{
  font-size: 15px;
  font-style: italic;
  color: gray;
}
article h4{
  font-size: 18px;
}
article p{
  font-size: 15px;
}

footer{
  font-family: naslovFont;
  width: 100%;
  margin: 0 auto;
  background-color: #E3E3E3;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #E3E3E3;
  text-align: center;
  padding: 1rem 0;
}

footer h1{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

